# Compiled object files
*.out
*.o
*.obj
*.exe

# Precompsiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.a
*.lib

.vscode/

# Backup/temporary files
*~
*.swp
